@font-face{
	font-family: "Montserrat";
	src: url('../fonts/Montserat/Montserrat-Light.ttf');
	font-weight: 200;
}
@font-face{
	font-family: "Montserrat";
	src: url('../fonts/Montserat/Montserrat-Regular.ttf');
	font-weight: 400;
}
@font-face{
	font-family: "Montserrat";
	src: url('../fonts/Montserat/Montserrat-Bold.ttf');
	font-weight: 600;
}
@font-face{
	font-family: "Montserrat";
	src: url('../fonts/Montserat/Montserrat-ExtraLightItalic.ttf');
	font-style: italic;
	font-weight: 100;
}